<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" ng-app="PrivateCloudStorageWeb">
<head lang="zh-CN" >
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/fonts/Font-Awesome-3.2.1/css/font-awesome.min.css">

	<title>FishChat Server Monitor</title>

	<link href="static/css/signin.css" rel="stylesheet">
	<link href="static/css/dashboard.css" rel="stylesheet">
</head>
<body>

<div ng-view></div>


<script src="static/js/lib/jquery-1.11.2.min.js"></script>
<script src="static/js/lib/bootstrap.js"></script>


<script src="static/js/lib/angular-1.3.15/angular.js"></script>
<script src="static/js/lib/angular-1.3.15/angular-cookies.js"></script>
<script src="static/js/lib/angular-1.3.15/angular-route.js"></script>
<!-- <script src="static/js/lib/ui-bootstrap-tpls-0.12.1.js"></script> --> 
<script src="static/js/app/app.js"></script>
<script src="static/js/app/controllers.js"></script>
<script src="static/js/app/services.js"></script>
</body>
</html>